<div class="fluid-container" id="hero-background">
  <div class="row">
    <div class="col m12">
      <h1 class="text-center">Welcome to Speech today</h1>
    </div>
    <div class="col m4"></div>
    <div class="col m4">
      <br />
       <input id="last_name" type="text" placeholder="Search">
    </div>
    <div class="col m4"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col m6">
      Want to join our search query? Then give me your information
    </div>
    <div class="col m6">
      Sign Up as a speaking coach, speech therapist, communication coach
     
      <%= link_to "Sign Up", new_user_registration_path, class: "waves-effect waves-light btn" %>
    </div>
  </div>
</div>